<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8aoybtSrvd-y2kM_dJxPaAbBiT5Y33XY</string>
	<key>GCM_SENDER_ID</key>
	<string>942941060459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nanochat20241022</string>
	<key>PROJECT_ID</key>
	<string>nanochat-20241022-mw8qu9</string>
	<key>STORAGE_BUCKET</key>
	<string>nanochat-20241022-mw8qu9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942941060459:ios:a133611d46b322212a202e</string>
</dict>
</plist>